.gallery_wrapper {
  height: 500px;
  width: 900px;
  margin: 90px auto;
  overflow: hidden;
}
#gallery_grid {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(2, 1lfr);
  grid-gap: 15px 20px;
  grid-auto-flow: row;
  overflow-x: scroll;
  scroll-direction: horizontal;
  height: 100%;
  padding-bottom: 20px;
}
#gallery_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  overflow: hidden;
}
#gallery_grid img.span_1 {
  grid-column-end: span 28;
  grid-row: 1;
}
#gallery_grid img.span_2 {
  grid-column-end: span 24;
  grid-row: 2;
}
#gallery_grid img.span_3 {
  grid-column-end: span 12;
  grid-row: 1;
}
#gallery_grid img.span_4 {
  grid-column-end: span 12;
  grid-row: 1;
}
#gallery_grid img.span_5 {
  grid-column-end: span 28;
  grid-row: 2;
}
#gallery_grid img.span_6 {
  grid-column-end: span 24;
  grid-row-start: 1;
  grid-row-end: span 2;
}
